<div class="row">
	<div class="col-md-8">
		<%= form_for @bookmark do |f| %>

			<div class="field">
				<%= f.label :url %><br>
			</div>
			<div class="actions">
				<%= f.submit %>
			</div>
		<% end %>
	</div>
</div>